<div *ngIf="productMap.value.title" class="card">
  <img *ngIf="productMap.value.imageUrl" [src]="productMap.value.imageUrl" class="card-img-top"
    alt='{{productMap.value.title}}'>
  <div class="card-body">
    <h2 class="card-title">{{productMap.value.title}}</h2>
    <p *ngIf="!this.showActions" class="text-black-50">{{productMap.value.category | titlecase}}</p>
    <p class="card-text">{{productMap.value.price | currency:'USD'}}
    </p>
  </div>
  <div *ngIf="this.showActions && this.shoppingCart" class="card-footer">
    <button *ngIf="this.shoppingCart.getQuantity(productMap) === 0; else updateQuantity" (click)="addToCart()"
      class="btn btn-secondary btn-block">
      Add to Cart</button>
    <ng-template #updateQuantity>
      <app-product-quantity [product]='this.productMap' [shopping-cart]='this.shoppingCart'></app-product-quantity>
    </ng-template>

  </div>
</div>
