<div *ngIf="product.value.title" class="card">
  <img *ngIf="product.value.imageUrl" [src]="product.value.imageUrl" class="card-img-top" alt='{{product.value.title}}'>
  <div class="card-body">
    <h2 class="card-title">{{product.value.title}}</h2>
    <p *ngIf="!this.showActions" class="text-black-50">{{product.value.category | titlecase}}</p>
    <p class="card-text">{{product.value.price | currency:'USD'}}
    </p>
  </div>
  <div class="card-footer">
    <button *ngIf="this.showActions" (click)="addToCart(product)" class="btn btn-primary btn-block">Add to Cart</button>
  </div>
</div>
