<nav class="navbar navbar-expand-lg bg-success" style="background-color: #e3f2fd;">
  <a class="navbar-brand text-white" routerLink='/'>OrganicIngs</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <a class="nav-link text-white" href="" routerLink="/shopping-cart">Shopping Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="" routerLink="/login">Login</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Username
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
          <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
          <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
          <a class="dropdown-item">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
