ul {
  font-size: 1rem;
}

.fa-shopping-cart {
  color: white;
}

.badge {
  border-radius: 9px;
}

#cartCount {
  font-size: 12px;
  color: black;
  padding: 2px 5px;
  vertical-align: top;
  margin-top: -4px;
  margin-left: -6px;
}
