<h1>Shopping Cart</h1>

<div class="row col-10" *ngIf="(cart$ |async) as cart">
  <p class="mb-3 mt-3">
    You have {{cart.totalItemsCount}} items in your cart.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th class="thumbnailWidth"></th>
        <th class="">Product</th>
        <th class="qtWidth text-center">Quantity</th>
        <th class="text-right">Price</th>
        <th class="clearWidth"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <img class="thumbnail" [src]="item.value.imageUrl" alt="">
        </td>
        <td>
          <p>{{item.value.title}}</p>
        </td>
        <td>
          <app-product-quantity [product]='item' [shopping-cart]='cart'></app-product-quantity>
        </td>
        <td class="text-right">
          <p>{{item.totalPrice | currency:'USD'}}</p>
        </td>
        <td class="text-right">
          <button (click)="clearCart(item)" class="btn btn-secondary btn-sm">
            X</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{cart.totalPrice | currency:'USD'}}</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
  <a class="btn btn-primary" *ngIf="cart.items.length" routerLink='/check-out'>Checkout</a>
</div>
