.radio-button {
  margin-left: 7px;
}
.container {
  width: 50vw;
}
.width-50 {
  width: 49%;
}
.ml-1 {
  margin-left: 1%;
}
.ml-2 {
  margin-left: 2%;
}
.width-100 {
  width: 100%;
}
.width-25 {
  width: 25%;
}

.hide-button {
  border: none;
  background-color: transparent;
}

mat-error {
  font-size: 0.9rem;
}

mat-form-field {
  margin-bottom: 0.5rem;
}

.btn-primary {
  width: 10rem;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
}
