<div class="row" *ngIf="!isLoading">
  <div class="col-md-7">
    <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input #title='ngModel' [(ngModel)]="productMap.value.title" name='title' id="title" type="text"
          class="form-control" required>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is required.
        </div>
      </div>
      <div>
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input #price='ngModel' [(ngModel)]="productMap.value.price" name='price' id="price" type="number"
            class="form-control" required [min]='0'>
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is required.</div>
          <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
        </div>
      </div>


      <div>
        <label for="category">Category</label>
        <select #categorySelect='ngModel' [(ngModel)]="productMap.value.category" name='category' id="category"
          class="form-control" required>
          <option value=""></option>
          <option *ngFor="let category of categories$ | async" [value]="category.key">
            {{category.value.name}}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="categorySelect.touched && categorySelect.invalid">
          Category is required.
        </div>
      </div>

      <div>
        <label for="imageUrl">Image URL</label>
        <input #imageUrl='ngModel' [(ngModel)]="productMap.value.imageUrl" name='imageUrl' id="imageUrl" type="text"
          class="form-control" required url>
        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
          <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>

        </div>
      </div>
      <br>
      <button class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger ml-1" (click)="deleteProduct()">Delete</button>
    </form>
  </div>

  <!-- Bootstrap Card for product -->

  <div class="col-md-3 ml-5">
    <app-product-card [productMap]='productMap' [show-actions]='false'></app-product-card>
  </div>
</div>
