<div class="row">
  <div class="col-3">
    <ul class="list-group">
      <li *ngFor="let category of categories$ | async" class="list-group-item">
        {{category.value.name}}
      </li>
    </ul>
  </div>

  <div class="col-9">
    <div class="row">
      <ng-container *ngFor="let product of products$ | async; let i = index">
        <div class="col">
          <div class="card" style="width: 15rem;">
            <div class="image-container">
              <img [src]="product.value.imageUrl" class="card-img-top">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{product.value.title}}</h5>
              <p class="card-text">{{product.value.price | currency:'USD'}}
              </p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="w-100" *ngIf="(i+1) % 3 === 0"></div>
      </ng-container>
    </div>

  </div>
</div>
