.input {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__address-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & mat-form-field {
      width: 45%;
    }
  }
}

mat-error {
  font-size: 0.9rem;
}

mat-form-field {
  margin-top: 0.5rem;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
